@import 'tailwindcss';

@theme {
  /* Breakpoints */
  --breakpoint-sm: 576px;
  --breakpoint-md: 640px;
  --breakpoint-lg: 769px;
  --breakpoint-xl: 992px;
  --breakpoint-2xl: 1200px;
  --breakpoint-3xl: 1400px;

  /* Fonts */
  --font-nunito: 'nunito', 'sans-serif';
  --font-roboto: 'roboto', 'sans-serif';
  --font-poppins-Regular: 'poppins-Regular', 'sans-serif';
  --font-Poppins-Medium: 'poppins-Medium', 'sans-serif';
  --font-Poppins-SemiBold: 'poppins-SemiBold', 'sans-serif';

  /* Color */
  --color-heading: #012970;
  --color-accent: #4154f1;
  --color-accent-light: #ecedfd;
  --color-accent-shade: rgba(65, 84, 241, 0.1);
  --color-default: #444444;
  --color-dark: #212529;
  --color-cu-red: #df1529;
  --color-cu-pink: #f3268c;
  --color-cu-orange: #fd7e14;
  --color-cu-purple: #6610f2;
  --color-cu-blue: #0d6efd;
  --color-cu-cyan: #0dcaf0;
  --color-cu-green: #20c997;
}

/* Fonts */
@font-face {
  font-family: nunito;
  font-style: normal;
  font-weight: 200 700;

  font-display: swap;
  src: url('/font/Nunito/Nunito-VariableFont.ttf') format('truetype');
}
@font-face {
  font-family: roboto;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url('/font/Roboto/Roboto-VariableFont.ttf') format('truetype');
}
@font-face {
  font-family: poppins-Regular;
  font-style: normal;
  font-display: swap;
  src: url('/font/Poppins/Poppins-Medium.ttf') format('truetype');
}
@font-face {
  font-family: poppins-Medium;
  font-style: normal;
  font-display: swap;
  src: url('/font/Poppins/Poppins-Medium.ttf') format('truetype');
}
@font-face {
  font-family: poppins-SemiBold;
  font-style: normal;
  font-display: swap;
  src: url('/font/Poppins/Poppins-SemiBold.ttf') format('truetype');
}

@layer components {
  .container-fluid {
    @apply max-w-[1320px] mx-auto px-3.5;
  }
}

@layer utilities {
  #nav {
    @apply flex justify-between items-center mt-8;
  }

  .nav__logo {
    @apply flex items-center gap-2;
  }

  .nav__logo-text {
    @apply text-3xl font-bold text-heading;
  }

  .mobile-nav__list {
    @apply flex flex-col justify-center items-center gap-8 absolute top-0 right-0 bottom-0 bg-accent-light w-2/3 text-dark font-Poppins-Medium text-[17px] sm:text-[20px] sm:w-1/2 xl:hidden;
  }

  .nav__list-item--active {
    @apply text-accent;
  }
  .nav__right {
    @apply flex items-center gap-3;
  }

  .nav__cta-btn {
    @apply font-roboto text-[16px] bg-accent text-white px-[15px] py-1.5 rounded-md lg:text-base  lg:px-5;
  }

  .mobile-nav__ham-icon {
    @apply text-2xl text-accent inline-block xl:hidden;
  }

  /* Navbar List Desktop */
  .nav__list {
    @apply hidden xl:flex items-center gap-8 text-heading text-[15px] font-Poppins-Medium;
  }

  /* .nav__list-item{
    @apply
  }
  .nav__link{
    @apply
}*/
}
