@import 'tailwindcss';

@theme {
  /* Breakpoints */
  --breakpoint-sm: 576px;
  --breakpoint-md: 640px;
  --breakpoint-lg: 769px;
  --breakpoint-xl: 992px;
  --breakpoint-2xl: 1200px;
  --breakpoint-3xl: 1400px;

  /* Fonts */
  --font-nunito: 'nunito', 'sans-serif';
  --font-roboto: 'roboto', 'sans-serif';
  --font-poppins-Regular: 'poppins-Regular', 'sans-serif';
  --font-Poppins-Medium: 'poppins-Medium', 'sans-serif';
  --font-Poppins-SemiBold: 'poppins-SemiBold', 'sans-serif';

  /* Color */
  --color-heading: #012970;
  --color-accent: #4154f1;
  --color-accent-light: #ecedfd;
  --color-accent-shade: rgba(65, 84, 241, 0.1);
  --color-dark: #212529;
  --color-default: #444444;
  --color-cuGray: #78797b;
  --color-cu-red: #df1529;
  --color-cu-pink: #f3268c;
  --color-cu-orange: #fd7e14;
  --color-cu-purple: #6610f2;
  --color-cu-blue: #0d6efd;
  --color-cu-cyan: #0dcaf0;
  --color-cu-green: #20c997;

  /* Animation */
  --animate-UpAndDown: UpAndDown 5s ease-in-out infinite;
}

/* Fonts */
@font-face {
  font-family: nunito;
  font-style: normal;
  font-weight: 200 700;

  font-display: swap;
  src: url('/font/Nunito/Nunito-VariableFont.ttf') format('truetype');
}
@font-face {
  font-family: roboto;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url('/font/Roboto/Roboto-VariableFont.ttf') format('truetype');
}
@font-face {
  font-family: poppins-Regular;
  font-style: normal;
  font-display: swap;
  src: url('/font/Poppins/Poppins-Medium.ttf') format('truetype');
}
@font-face {
  font-family: poppins-Medium;
  font-style: normal;
  font-display: swap;
  src: url('/font/Poppins/Poppins-Medium.ttf') format('truetype');
}
@font-face {
  font-family: poppins-SemiBold;
  font-style: normal;
  font-display: swap;
  src: url('/font/Poppins/Poppins-SemiBold.ttf') format('truetype');
}
body {
  background-image: url(./images/hero-bg.png);
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  min-height: 100vh;
}

@layer components {
  .container-fluid {
    @apply max-w-[1320px] mx-auto px-3.5;
  }
}

@layer utilities {
  #nav {
    @apply flex justify-between items-center mt-8;
  }

  .nav__logo {
    @apply flex items-center gap-2;
  }

  .nav__logo-text {
    @apply text-3xl font-bold text-heading;
  }

  .mobile-nav__list {
    @apply flex flex-col justify-center items-center gap-8 fixed top-0 right-0 bottom-0 w-2/3
     bg-accent-light text-dark font-Poppins-Medium text-[17px] sm:text-[20px] xl:hidden
    translate-x-full duration-300 ease-out opacity-0 z-[9999];
  }

  .mobile-nav__list--open {
    @apply translate-x-0 opacity-100;
  }

  .nav__list-item--active {
    @apply text-accent;
  }
  .nav__right {
    @apply flex items-center gap-3;
  }

  .nav__cta-btn {
    @apply font-roboto text-[16px] bg-accent text-white px-[15px] py-1.5 rounded-md lg:text-base lg:px-5;
  }

  .mobile-nav__ham-icon {
    @apply text-2xl text-accent inline-block xl:hidden;
  }

  .overlay {
    @apply top-0 right-0 bottom-0 left-0 bg-black opacity-50 z-[9998] xl:hidden;
  }
  /* Navbar List Desktop */
  .nav__list {
    @apply hidden xl:flex items-center gap-8 text-heading text-[15px] font-Poppins-Medium;
  }

  /* SECTION HERO */

  #hero {
    @apply flex flex-col items-center justify-center mt-10
    xl:flex-row-reverse xl:mt-24;
  }
  .hero__img {
    @apply max-w-[320px] sm:max-w-none animate-UpAndDown
    xl:w-1/2 xl:max-w-none;
  }
  .hero__content {
    @apply mt-4 sm:max-w-[540px] lg:max-w-[720px]
    xl:max-w-none;
  }
  .hero__title {
    @apply text-heading leading-8 text-[26px] font-nunito font-[700] 
    md:text-5xl md:leading-14;
  }
  .hero__description {
    @apply font-roboto text-cuGray font-normal text-lg mt-3
    md:text-xl;
  }
  .hero__cta {
    @apply flex flex-col mt-7 text-center
    lg:flex-row;
  }
  .hero__cta-btn {
    @apply flex items-center justify-center gap-2 py-3 px-10 bg-accent font-nunito text-base rounded-sm font-medium text-white
    lg:max-w-[230px] lg:h-12;
  }
  .hero__cta-btn--transparent {
    @apply bg-transparent text-dark;
  }
  .hero__cta-icon {
    @apply text-2xl;
  }
  .hero__cta-icon:nth-child(1) {
    @apply text-4xl text-accent;
  }
  /* 

.hero__text{
  @apply
}




*/
}

@keyframes UpAndDown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
